use flake

use_sops() {
  local path=$1
  eval "$(sops decrypt --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

use sops ./encrypted.env

PATH="$PATH:$(pwd)/node_modules/.bin"
PATH="$PATH:$(pwd)/app/node_modules/.bin"
PATH="$PATH:$(pwd)/cdk/node_modules/.bin"
export PATH

dotenv
